<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa soluta saepe error voluptate quia ut debitis magni sed animi exercitationem corporis sunt ad excepturi rem, dolore explicabo odit sint non ab aut autem, consequatur beatae possimus. Unde et quasi earum voluptatibus fugit incidunt explicabo dolore? A voluptatum tempore quasi unde commodi expedita laborum iure, corrupti, iste accusantium incidunt officia laboriosam? Suscipit voluptas numquam iure deserunt. Neque eos molestias culpa nostrum magni eius deleniti corrupti in unde, at ducimus repudiandae expedita necessitatibus a? Placeat, veritatis perspiciatis deserunt laudantium suscipit voluptatibus minus tempore voluptate doloribus!</p>

<%- include("footer") -%>
